[SddmGreeterTheme]
Name=Breeze Light Sugar
Description=The sweetest theme around
Author=Marian Alexander Arlt, Arpit Kumar Gahlot
Copyright=Copyright (C) 2018 Marian Arlt
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/ArpitKumarGahlot/breeze-light-sugar
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=ug201312005@iitj.ac.in
Theme-Id=breeze-light-sugar
Theme-API=2.11
